.loading-div{
    background-color: rgba(83, 90, 88, 0.1);
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;

}

.show-loading-div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
